USE [master]
GO
/****** Object:  Database [Road_Safety]    Script Date: 26-02-2023 03:47:56 PM ******/
CREATE DATABASE [Road_Safety]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Road_Safety', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Road_Safety.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Road_Safety_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Road_Safety_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Road_Safety].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Road_Safety]
GO
/****** Object:  Table [dbo].[location]    Script Date: 26-02-2023 03:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[S_No] [varchar](5) NULL,
	[State_UT] [varchar](17) NULL,
	[Near_School_or_College_Total_Acc_2014] [varchar](7) NULL,
	[Near_School_or_College_Persons_Killed_2014] [varchar](6) NULL,
	[Near_School_or_College_Persons_Injured_2014] [varchar](7) NULL,
	[Near_or_inside_a_village_Total_Acc_2014] [varchar](7) NULL,
	[Near_or_inside_a_village_Persons_Killed_2014] [varchar](7) NULL,
	[Near_or_inside_a_village_Persons_Injured_2014] [varchar](7) NULL,
	[Near_a_Factory_Industrial_area_Total_Acc_2014] [varchar](7) NULL,
	[Near_a_Factory_Industrial_area_Persons_Killed_2014] [varchar](6) NULL,
	[Near_a_Factory_Industrial_area_Persons_Injured_2014] [varchar](7) NULL,
	[Near_a_religious_place_Total_Acc_2014] [varchar](7) NULL,
	[Near_a_religious_place_Persons_Killed_2014] [varchar](6) NULL,
	[Near_a_religious_place_Persons_Injured_2014] [varchar](7) NULL,
	[Near_a_recreation_place_cinema_Total_Acc_2014] [varchar](7) NULL,
	[Near_a_recreation_place_cinema_Persons_Killed_2014] [varchar](6) NULL,
	[Near_a_recreation_place_cinema_Persons_Injured_2014] [varchar](7) NULL,
	[In_bazaar_Total_Acc_2014] [varchar](7) NULL,
	[In_bazaar_Persons_Killed_2014] [varchar](6) NULL,
	[In_bazaar_Persons_Injured_2014] [varchar](7) NULL,
	[Near_office_complex_Total_Acc_2014] [varchar](7) NULL,
	[Near_office_complex_Persons_Killed_2014] [varchar](6) NULL,
	[Near_office_complex_Persons_Injured_2014] [varchar](7) NULL,
	[Near_hospital_Total_Acc_2014] [varchar](7) NULL,
	[Near_hospital_Persons_Killed_2014] [varchar](6) NULL,
	[Near_hospital_Persons_Injured_2014] [varchar](7) NULL,
	[Residential_area_Total_Acc_2014] [varchar](7) NULL,
	[Residential_area_Persons_Killed_2014] [varchar](7) NULL,
	[Residential_area_Persons_Injured_2014] [varchar](7) NULL,
	[Open_area_Total_Acc_2014] [varchar](8) NULL,
	[Open_area_Persons_Killed_2014] [varchar](7) NULL,
	[Open_area_Persons_Injured_2014] [varchar](8) NULL,
	[Near_bus_stop_Total_Acc_2014] [varchar](7) NULL,
	[Near_bus_stop_Persons_Killed_2014] [varchar](6) NULL,
	[Near_bus_stop_Persons_Injured_2014] [varchar](7) NULL,
	[Near_petrol_pump_Total_Acc_2014] [varchar](7) NULL,
	[Near_petrol_pump_Persons_Killed_2014] [varchar](6) NULL,
	[Near_petrol_pump_Persons_Injured_2014] [varchar](7) NULL,
	[At_pedestrian_crossing_Total_Acc_2014] [varchar](7) NULL,
	[At_pedestrian_crossing_Persons_Killed_2014] [varchar](6) NULL,
	[At_pedestrian_crossing_Persons_Injured_2014] [varchar](7) NULL,
	[Affected_by_encroachments_Total_Acc_2014] [varchar](6) NULL,
	[Affected_by_encroachments_Persons_Killed_2014] [varchar](6) NULL,
	[Affected_by_encroachments_Persons_Injured_2014] [varchar](6) NULL,
	[Narrow_Bridge_or_culverts_Total_Acc_2014] [varchar](7) NULL,
	[Narrow_Bridge_or_culverts_Persons_Killed_2014] [varchar](6) NULL,
	[Narrow_Bridge_or_culverts_Persons_Injured_2014] [varchar](7) NULL,
	[College_any_other_educational_Institutes_Total_Accidents_2016] [numeric](6, 1) NULL,
	[College_any_other_educational_Institutes_Persons_Killed_2016] [numeric](5, 1) NULL,
	[College_any_other_educational_Institutes_Persons_Injured_2016] [numeric](6, 1) NULL,
	[Pedestrian_crossing_Total_Accidents_2016] [numeric](6, 1) NULL,
	[Pedestrian_crossing_Persons_Killed_2016] [numeric](5, 1) NULL,
	[Pedestrian_crossing_Persons_Injured_2016] [numeric](6, 1) NULL,
	[Market_Place_Total_Accidents_2016] [numeric](6, 1) NULL,
	[Market_Place_Persons_Killed_2016] [numeric](5, 1) NULL,
	[Market_Place_Persons_Injured_2016] [numeric](6, 1) NULL,
	[Near_Office_Complex_Total_Accidents_2016] [numeric](6, 1) NULL,
	[Near_Office_Complex_Persons_Killed_2016] [numeric](5, 1) NULL,
	[Near_Office_Complex_Persons_Injured_2016] [numeric](6, 1) NULL,
	[Near_a_Religious_Place_Total_Accidents_2016] [numeric](6, 1) NULL,
	[Near_a_Religious_Place_Persons_Killed_2016] [numeric](5, 1) NULL,
	[Near_a_Religious_Place_Persons_Injured_2016] [numeric](6, 1) NULL,
	[Near_Hospital_Total_Accidents_2016] [numeric](6, 1) NULL,
	[Near_Hospital_Persons_Killed_2016] [numeric](5, 1) NULL,
	[Near_Hospital_Persons_Injured_2016] [numeric](6, 1) NULL,
	[Residential_Area_Total_Accidents_2016] [numeric](6, 1) NULL,
	[Residential_Area_Persons_Killed_2016] [numeric](6, 1) NULL,
	[Residential_Area_Persons_Injured_2016] [numeric](6, 1) NULL,
	[Encroached_Area_Total_Accidents_2016] [numeric](5, 1) NULL,
	[Encroached_Area_Persons_Killed_2016] [numeric](5, 1) NULL,
	[Encroached_Area_Persons_Injured_2016] [numeric](5, 1) NULL,
	[Narrow_bridge_or_culverts_Total_Accidents_2016] [numeric](6, 1) NULL,
	[Narrow_bridge_or_culverts_Persons_Killed_2016] [numeric](5, 1) NULL,
	[Narrow_bridge_or_culverts_Persons_Injured_2016] [numeric](6, 1) NULL,
	[Near_Petrol_Pump_Total_Accidents_2016] [numeric](6, 1) NULL,
	[Near_Petrol_Pump_Persons_Killed_2016] [numeric](5, 1) NULL,
	[Near_Petrol_Pump_Persons_Injured_2016] [numeric](6, 1) NULL,
	[Near_Bus_Stand_Total_Accidents_2016] [numeric](6, 1) NULL,
	[Near_Bus_Stand_Persons_Killed_2016] [numeric](5, 1) NULL,
	[Near_Bus_Stand_Persons_Injured_2016] [numeric](6, 1) NULL,
	[Near_or_on_Road_under_Construction_Total_Accidents_2016] [numeric](6, 1) NULL,
	[Near_or_on_Road_under_Construction_Persons_Killed_2016] [numeric](5, 1) NULL,
	[Near_or_on_Road_under_Construction_Persons_Injured_2016] [numeric](6, 1) NULL,
	[Open_Area_Total_Accidents_2016] [varchar](8) NULL,
	[Open_Area_Persons_Killed_2016] [numeric](6, 1) NULL,
	[Open_Area_Persons_Injured_2016] [numeric](7, 1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicles]    Script Date: 26-02-2023 03:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicles](
	[States_UTs] [nvarchar](17) NULL,
	[Year] [int] NULL,
	[CrimeHead] [nvarchar](113) NULL,
	[Offenders_Driver_Pedestrian_Died_Male] [int] NULL,
	[Offenders_Driver_Pedestrian_Died_Female] [int] NULL,
	[Offenders_Driver_Pedestrian_Died_Transgender] [int] NULL,
	[Offenders_Driver_Pedestrian_Died_Total] [int] NULL,
	[Victims_Died_Male] [int] NULL,
	[Victims_Died_Female] [int] NULL,
	[Victims_Died_Transgender] [int] NULL,
	[Victims_Died_Total] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Year_Acc]    Script Date: 26-02-2023 03:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Year_Acc](
	[Year] [int] NOT NULL,
	[No_of_Accidents] [int] NOT NULL,
	[No_of_death] [int] NOT NULL,
	[No_of_injured] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[vehicles] ([States_UTs], [Year], [CrimeHead], [Offenders_Driver_Pedestrian_Died_Male], [Offenders_Driver_Pedestrian_Died_Female], [Offenders_Driver_Pedestrian_Died_Transgender], [Offenders_Driver_Pedestrian_Died_Total], [Victims_Died_Male], [Victims_Died_Female], [Victims_Died_Transgender], [Victims_Died_Total]) VALUES (N'Andhra Pradesh', 2014, N'Truck/Lorry (Total)', 445, 30, 0, 475, 871, 135, 0, 1006)
INSERT [dbo].[vehicles] ([States_UTs], [Year], [CrimeHead], [Offenders_Driver_Pedestrian_Died_Male], [Offenders_Driver_Pedestrian_Died_Female], [Offenders_Driver_Pedestrian_Died_Transgender], [Offenders_Driver_Pedestrian_Died_Total], [Victims_Died_Male], [Victims_Died_Female], [Victims_Died_Transgender], [Victims_Died_Total]) VALUES (N'Andhra Pradesh', 2014, N'Truck/Lorry - Normal Goods Carriers', 357, 25, 0, 382, 577, 101, 0, 678)
INSERT [dbo].[vehicles] ([States_UTs], [Year], [CrimeHead], [Offenders_Driver_Pedestrian_Died_Male], [Offenders_Driver_Pedestrian_Died_Female], [Offenders_Driver_Pedestrian_Died_Transgender], [Offenders_Driver_Pedestrian_Died_Total], [Victims_Died_Male], [Victims_Died_Female], [Victims_Died_Transgender], [Victims_Died_Total]) VALUES (N'Andhra Pradesh', 2014, N'Truck/Lorry - Trailer/Container Carriers', 12, 0, 0, 12, 25, 0, 0, 25)
GO
INSERT [dbo].[Year_Acc] ([Year], [No_of_Accidents], [No_of_death], [No_of_injured]) VALUES (1999, 37428, 4687, 25033)
INSERT [dbo].[Year_Acc] ([Year], [No_of_Accidents], [No_of_death], [No_of_injured]) VALUES (2000, 36029, 4539, 24316)
INSERT [dbo].[Year_Acc] ([Year], [No_of_Accidents], [No_of_death], [No_of_injured]) VALUES (2001, 32523, 4502, 22023)
GO
/****** Object:  StoredProcedure [dbo].[Location_selectall]    Script Date: 26-02-2023 03:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Location_selectall]
as
select *
from
[dbo].[location]
GO
/****** Object:  StoredProcedure [dbo].[pr_selectall]    Script Date: 26-02-2023 03:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pr_selectall]
as
select * 
from
[dbo].[Year_Acc]
GO
/****** Object:  StoredProcedure [dbo].[Vehicle_selectall]    Script Date: 26-02-2023 03:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Vehicle_selectall]
as
select * 
from
[dbo].[vehicles]
GO
USE [master]
GO
